body {
  color: var(--primary-text-color);
  background-color: var(--secondary-title-text-color);

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: (30px/18px);
  letter-spacing: 0.02em;
}
